<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <h1>YOU MADE IT TO THE HOMEPAGE!</h1>
    <h3>~woop~woooooooooop~</h3>
</body>
</html>